html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Raleway", Arial, sans-serif;
}

body {
	background-color: #b7cfd5;
	background-image: url("/bg.jpg");
	color: #3a302b;
}

a {
	color: inherit;
}

.content {
  padding: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 820px) {
  html {
    font-size: 18px;
  }

  .content {
    max-width: 800px;
  }
}

.page-header {
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(58,48,43, 0.3), rgba(58,48,43, 0.3)),
							url('/wood-bg.jpg');
  /*background: url('/wood-bg.jpg');*/
  /*background: url('/r-and-i.jpg');*/
  background-size: cover;
  background-position: center center;
  color: #FFFFFF;
  /*text-shadow: 0 0 5px #000000;*/
}

.page-header__heading {
  line-height: 1;
  font-size: calc(18px + 10vw);
  font-family: "Fredericka the Great";
}

.page-header__date {
  margin-top: calc(20px + 1.25vw);
  margin-bottom: calc(20px + 1.25vw);
  font-size: calc(20px + 2.5vw);
}

.page-header__address {
  line-height: 1.25;
  font-size: calc(15px + 0.5vw);
}

@media (min-width: 820px) {
  .page-header__heading {
    font-size: 100px;
  }
}

.page-body {
  text-align: left;
	padding-bottom: 40px;
}

.page-body__section:not(:first-child) {
	margin-top: 80px;
}

.page-body__heading {
  margin-top: 20px;
  line-height: 1;
  font-size: 30px;
}

.page-body__heading--secondary {
	margin-top: 20px;
	margin-bottom: -20px;
  line-height: 1;
  font-size: 24px;
}

.page-body__heading:not(:first-child) {
	margin-top: 40px;
}

@media (min-width: 600px) {
	.page-body__heading {
		margin-top: 40px;
	}
	.page-body__heading--secondary {
		margin-top: 40px;
	}
	.page-body__heading:not(:first-child) {
		position: relative;
		margin-top: 120px;
	}
	.page-body__heading:not(:first-child):before {
		content: "";
		position: absolute;
		top: -80px;
		left: 50%;
		margin-left: -188px;
		height: 40px;
		width: 376px;
		background-image: url("/divider-3.png");
		background-size: 100%;
	}
}

@media (min-width: 820px) {
	.page-body__heading:not(:first-child) {
		margin-top: 200px;
	}
	.page-body__heading:not(:first-child):before {
		top: -120px;
	}
}

.page-body__text {
  margin-top: 40px;
}

.page-body__image {
	width: 100%;
	margin-top: 40px;
}

.list {
	margin-top: 20px;
	list-style-type: disc;
	list-style-position: inside;
}

.no-break {
	white-space: nowrap;
}
